/**
 * Background color names
 *
 * Type: Map
 */

$iota-utils-bgcolor-names: (
    background: $background,
    foreground: $foreground,
    input: $input,
    success: $success,
    success-background: $successBackground
);


/**
 * Namespace classes
 *
 * Type: String
 */

$iota-utils-bgcolor-namespace: 'bgcolor-';


@import 'node_modules/iotacss/utilities/bgcolor';
