/**
 * Background color names
 *
 * Type: Map
 */

$iota-utils-bgcolor-names: (
    green: $green,
    off-white: $offWhite,
    pale-green: $paleGreen,
    pale-grey: $paleGrey,
    white: $white
);


/**
 * Namespace classes
 *
 * Type: String
 */

$iota-utils-bgcolor-namespace: 'bgcolor-';


@import 'node_modules/iotacss/utilities/bgcolor';
