/**
 * Color names
 *
 * Type: Map
 */

$iota-utils-color-names: (
    brown: $brown,
    grey: $grey,
    white: $white
);


/**
 * Namespace classes
 *
 * Type: String
 */

$iota-utils-color-namespace: 'color-';


@import 'node_modules/iotacss/utilities/color';
