/**
 * Color names
 *
 * Type: Map
 */

$iota-utils-color-names: (
  inherit: inherit,
  foreground: $foreground,
  help: $help,
  hint: $hint,
  success: $success,
  warning: $warning
);


/**
 * Namespace classes
 *
 * Type: String
 */

$iota-utils-color-namespace: 'color-';


@import 'node_modules/iotacss/utilities/color';
