html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: $grey;
    background-color: $lightGrey;
}

.app {
    // The height of the heading and tabs
    padding: 39px 0 62px 0;

    &--edit-list {
        padding-top: 109px;
    }

    &--loading {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &--unauthorised {
        height: 100vh;
    }
}
