.c-button {
  background-color: $successBackground;
  border: 0;
  color: $success;
  transition: color .15s ease-in, background-color .15s ease-in;

  &:hover,
  &:focus {
    background: $success;
    color: $foreground;
  }
}
