.c-input-button {
  top: 50%;
  right: $baseLine * 1.5;
  width: $baseLine * 2;
  height: $baseLine * 2;
  transform: translateY(-50%);
  transition: color .15s ease-in, background-color .15s ease-in;

  &--clear {
    background-color: $warningBackground;
    color: $warning;

    &:hover,
    &:focus {
      background: $warning;
      color: $foreground;
    }
  }

  &--loading {
    background-color: $successBackground;
  }
}
