.c-item {
  &__tick {
    width: $baseLine * 2;
    height: $baseLine * 2;
    margin: 0  $baseLine 0 $baseLine / 2;
    background-color: $border;
    color: $foreground;
    transition: color .15s ease-in, background-color .15s ease-in;
  }

  &__checkbox:checked + &__label {
    .c-item__tick {
      background-color: $successBackground;
      color: $success;
    }
  }

  &__input,
  &__button,
  &__value {
    width: $baseLine * 3;
  }

  &__value {
    margin-right: $baseLine * 3;
  }

  &--complete {
    text-decoration: line-through;
  }

  &__label {
    &:hover {
      .c-item__tick {
        background-color: $paleGreen;
        color: $successBackground;
      }
    }
  }
}
