.c-item {
  &__input,
  &__button,
  &__value {
    width: $baseLine * 3;
  }

  &__value {
    margin-right: $baseLine * 3;
  }

  &--complete {
    text-decoration: line-through;
  }

  &__text {
    width: calc(100% - #{$baseLine * 3.5});
  }

  &__label {
    width: calc(100% - #{$baseLine * 6});
  }
}
