$clearBorderRadius: 10px;

.labeled-input {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__clear {
        display: flex;
        right: $iota-global-gutter-default;
        top: 50%;
        transform: translateY(-50%);
        width: $clearBorderRadius * 2;
        height: $clearBorderRadius * 2;
        border: 0;
        border-radius: $clearBorderRadius;
    }
}
