$progressBorderRadius: 13px;

.c-list-card {
  color: inherit;
  text-decoration: none;

  &__progress {
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background-color: $successBackground;
    color: $success;
    white-space: nowrap;
    transition: color .15s ease-in, background-color .15s ease-in;
    animation: growWidth .15s ease-in;
  }

  &:hover {
    .c-list-card {
      &__progress {
        background: $success;
        color: $foreground;
      }
    }
  }
}

@keyframes growWidth {
  0% {
    max-width: 0;
  }

  100% {
    max-width: 100%;
  }
}
