$progressBorderRadius: 13px;

.c-list-card {
  color: inherit;
  text-decoration: none;

  &--complete {
    text-decoration: line-through;

    .c-list-card__progress {
      text-decoration: line-through;      
    }
  }

  &__progress {
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: growWidth .15s ease-in-out;
  }
}

@keyframes growWidth {
  0% {
    max-width: 0;
  }

  100% {
    max-width: 100%;
  }
}
