.c-svg {
  margin: 0 auto;

  &--back {
    height: $baseLine;
    padding-right: 2px;
  }

  &--ellipsis,
  &--plus,
  &--signout,
  &--tick {
    width: $baseLine;
  }

  &--cross {
    width: .625rem;
  }

  &--analyse,
  &--shop,
  &--shop-thin {
    width: $baseLine * 10;
  }
}
