.c-svg {
  margin: 0 auto;

  &--back {
    height: $baseLine;
    padding-right: 2px;
  }

  &--cross,
  &--plus,
  &--tick {
    width: $baseLine;
  }

  &--analyse,
  &--shop {
    width: $baseLine * 10;
  }
}
