.tabs {
    display: flex;
    list-style: none;

    &__tab {
        flex-basis: percentage(1/3);
        flex-grow: 1;
        padding: $iota-global-gutter-default / 2 0;

        &--active {
            box-shadow: 0 -1px $iota-global-gutter-default / 2 0 rgba($black, .1);
        }

        &__icon {
            display: block;
            width: auto;
            height: 30px;
        }

        &__link {
            text-decoration: none;
        }

        & + .tabs__tab {
            border-left: 1px solid $lightGrey;
        }
    }
}
