$white: #fff;
$black: #000;

$offWhite: #fafafa;

$green: #86c283;
$lightGreen: #e1f0e0;
$paleGreen: #f0f8f0;

$red: #c28383;

$brown: #afafa1;
$bronze: #dadbc4;

$grey: #717975;
$lightGrey: #f0efe9;
$paleGrey: #f8f7f0;
