/**
 * Grid columns. This setting is shared between
 * iotaCSS grid objects and size, pull & push
 * utilities. You can change it also locally to
 * each module.
 *
 * Type: Unitless Number / List
 */

$iota-global-columns: 2, 3, 6;


/**
 * Global namespace for Objects, Components and 
 * Utilities
 *
 * Type: String
 */

$iota-global-objects-namespace    : 'o-';
$iota-global-utilities-namespace  : 'u-';
$iota-global-components-namespace : 'c-';


/**
 * Default gutters. This setting is shared between
 * multiple objects and utilities as the default value
 * for gutters. You can change it also locally to each
 * module.
 *
 * Type: Number / List / Map
 */

$iota-global-gutter-default: 10px;


/**
 * Enables flexbox across the app. If you do not want
 * all modules to use flexbox you can keep this value
 * false and set it to true separately to each one of
 * them locally.
 *
 * Type: Boolean
 */

$iota-global-flex: true;


/**
 * Enables rtl across the app. If you enable this setting
 * the final CSS will be converted to RTL.
 *
 * Type: Boolean
 */

$iota-global-rtl: false;

/**
 * Type sizes
 *
 * Type: Number / List / Map
 */

$iota-type-sizes: (
    small: 12px,
    medium: 14px,
    large: 16px,
    xlarge: 24px
);

@import 'node_modules/iotacss/settings/core';
