/**
 * Grid columns. This setting is shared between
 * iotaCSS grid objects and size, pull & push
 * utilities. You can change it also locally to
 * each module.
 *
 * Type: Unitless Number / List
 */

$iota-global-columns: 1;


/**
 * Global namespace for Objects, Components and 
 * Utilities
 *
 * Type: String
 */

$iota-global-objects-namespace    : 'o-';
$iota-global-utilities-namespace  : 'u-';
$iota-global-components-namespace : 'c-';


/**
 * Default gutters. This setting is shared between
 * multiple objects and utilities as the default value
 * for gutters. You can change it also locally to each
 * module.
 *
 * Type: Number / List / Map
 */
$baseLine: 12px / 16px * 1rem;
$baseLine-x2: $baseLine * 2;
$baseLine-x3: $baseLine * 3;
$iota-global-gutter-default: $baseLine;


/**
 * Enables flexbox across the app. If you do not want
 * all modules to use flexbox you can keep this value
 * false and set it to true separately to each one of
 * them locally.
 *
 * Type: Boolean
 */

$iota-global-flex: true;


/**
 * Enables rtl across the app. If you enable this setting
 * the final CSS will be converted to RTL.
 *
 * Type: Boolean
 */

$iota-global-rtl: false;

/**
 * Type sizes
 *
 * Type: Number / List / Map
 */
$iota-type-sizes: (
    small: .75rem,
    medium: .875rem,
    large: 1rem
);

@import 'node_modules/iotacss/settings/core';
