$borderRadius: 15px;

.o-button {
    display: block;
    width: 100%;
    padding: 0 $borderRadius * 2;

    background-color: $green;
    color: $white;
    
    border: 0;
    border-radius: $borderRadius;
    
    font-size: map-get($iota-type-sizes, 'medium');
    line-height: $borderRadius * 2;
    text-align: center;
    text-decoration: none;

    &:disabled {
        background-color: $lightGreen;
    }

    &:focus {
        outline: none;
    }
}
